{% extends "base_boots.html" %}               <!-- inherit from base_boots.html -->
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}                         <!-- extends app_content block -->
<h1> Log in </h1><br>
<div class="row">
    <div class="col-md-5">
        {{ wtf.quick_form(form)}}
    </div>
</div>
 <hr>
 <div>
     <div><span class="alert alert-danger" ><a href="{{ url_for('reset_password_request')}}" class="alert-link" > Forgot Password ?</a></span></a></div><hr>
     <div>New User ? <span class="alert alert-warning"><a href="{{ url_for('register') }}" class="alert-link">Click to Register !</a></span></a></div><hr>
 </div>

{% endblock %}

