{% extends "base_boots.html" %}                 <!-- inherit from base_boots.html -->
{% import 'bootstrap/wtf.html' as wtf %}         <!-- import bootstrap form forms -->

{% block app_content %}                         <!-- extends content2 block -->
<h1> Register </h1><br>
 <div class="row">
    <div class="col-md-4">

        {{ wtf.quick_form(form)}}    <!-- renders the complete form including suuport form validation errors -->
    </div>

 </div>
 <hr>
 <div>
     <a href="{{ url_for('reset_password_request')}}"> Forgot Password ?</a>
 </div>


{% endblock %}